p {
  margin: 1.8em 0;
  line-height: 1.8em;
  fill: "black";
}

h2 {
  font-size: 1.25em;
  text-align: center;
}

aside,
footer,
header,
main,
nav {
  padding: 1.5em;
}

footer,
header {
  text-align: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "heady heady" "navvy navvy" "mainy mainy" "mainy mainy" "mainy mainy" "footy footy";
}

header {
  grid-area: heady;
}

nav {
  grid-area: navvy;
}

main {
  grid-area: mainy;
  max-height: 100%;
}

footer {
  grid-area: footy;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

figure {
  text-align: center;
}

#image-gallery {
  display: grid;
  text-align: center;
  max-width: 1300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (min-width: 641px) and (max-width: 900px) {
  img {
    max-width: 90%;
  }
}
@media screen and (max-width: 640px) {
  img {
    max-width: 70%;
  }
}